h1{
    color:blue;
    font-size: 100px;
}

#second_h1{
    background-color: blueviolet;
}
.bold{
    font-weight: bold;
}

#row2,.bold{
    text-decoration: underline;
}
div span{
    color:burlywood;
}