body {
    font-family: 'Bakbak One', cursive;
    background-image: url(https://wallpaperaccess.com/full/2842066.jpg);
}

#id {
    margin: auto;
}

#form {
    padding-right: 20px;
}

.flex {
    display: flex;
    margin: auto;
    width: 50%;
}

.list h1 {
    /* display: flex; */
    text-align: center;
    padding-left: 70px;
}

.vl {
    border-left: 6px solid black;
    height: 500px;
}

.vl2 {
    border-left: 6px solid black;
    height: 500px;
}

.textbox {
    margin: 5px 0px 5px;
}

.person_list li {
    list-style-type: none;
    border: black;
    /* align-items: flex-start;
    justify-content: space-between;  */
}

.person_item {
    width: 300px;
    height: 120px;
    border: 1px solid black;
}

select.textbox {
    width: 174px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 90%;
}

.X {
    float: right;
}

.X:hover {
    color: red;
}

#search_button {
    font-size: 20px;
}

#search_box {
    font-size: 20px;
}

.results_li {
    list-style-type: none;
    width: 300px;
    height: 120px;
    border: 1px solid black;

}

.search_results {
    padding-left: 10px;
}